[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ext/rl3d"]
	path = ext/tacoRender
	url = https://github.com/tacoEngine/tacoRender.git
[submodule "ext/yal"]
	path = ext/yal
	url = https://github.com/Not-Nik/yal
[submodule "ext/JoltPhysics"]
	path = ext/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
